#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.quiz-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
